body{
    background: #fafafa;
    /* background: url('./../img/fondo.png') no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    text-shadow: 0px 0 #545454;
    position: relative;
    min-height: 80vh;
    margin: 0;
}
body header{
    margin-bottom: 5%;
}
.navegation{
    background-color: #7FB850
}
.navegation a img{
    height: 3rem;
}
.box .links a {
    text-decoration: none;
    color: #fafafa !important;
}
.box .links a:hover {
    color: #7FB850 !important;
}
.img-user{
    padding: 3%;
    padding-bottom: 0;
    margin: 0 auto;
}
.img-user img{
    width: 150px;
    height: auto;
}
.box{
    background: rgba(5, 5, 5, 0.5);
    color: #fafafa;
}

.box .card-body .btn-submit{
    background-color: #7FB850;
    color: #fafafa;
}
body, html {
    height: 90%;
}
.header-wrap{
    background-image: url('/static/img/seg-vial2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
.header-wrap .text-title{
    padding-top: 5%;
    font-size: 5rem;
}
.text-header{
    color: #fafafa;
}
/* .pass_show{position: relative} 
.pass_show .ptxt {
position: absolute; 
top: 50%; 
right: 10px; 
z-index: 1; 
color: #f36c01; 
margin-top: -10px; 
cursor: pointer; 
transition: .3s ease all; 
} 
.pass_show .ptxt:hover{color: #333333;}  */

/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
  } */
  /* .banner{
    width: 100%;
    height: auto;
  } */