<h5>Transitaba</h5>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="rutatransitaba" id="rutatransitaba"><label class="custom-control-label"
                for="rutatransitaba">Ruta</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="rectatransitaba" id="rectatransitaba"><label class="custom-control-label"
                for="rectatransitaba">Recta</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="ripiotransitaba" id="ripiotransitaba"><label class="custom-control-label"
                for="ripiotransitaba">Ripio</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="calletransitaba" id="calletransitaba"><label class="custom-control-label"
                for="calletransitaba">Calle</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="pendientetransitaba" id="pendientetransitaba"><label class="custom-control-label"
                for="pendientetransitaba">Pendiente</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="tierratransitaba" id="tierratransitaba"><label class="custom-control-label"
                for="tierratransitaba">Tierra</label></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="bocacalletransitaba" id="bocacalletransitaba"><label class="custom-control-label"
                for="bocacalletransitaba">Bocacalle</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="sobre puentetransitaba" id="sobre puentetransitaba"><label class="custom-control-label"
                for="sobre puentetransitaba">Sobre Puente</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="empedradotransitaba" id="empedradotransitaba"><label class="custom-control-label"
                for="empedradotransitaba">Empedrado</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="avenidatransitaba" id="avenidatransitaba"><label class="custom-control-label"
                for="avenidatransitaba">Avenida</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="tuneltransitaba" id="tuneltransitaba"><label class="custom-control-label"
                for="tuneltransitaba">Tunel</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="pavimentotransitaba" id="pavimentotransitaba"><label class="custom-control-label"
                for="pavimentotransitaba">Pavimento</label></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="autopistatransitaba" id="autopistatransitaba"><label class="custom-control-label"
                for="autopistatransitaba">Autopista</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="cruce de viastransitaba" id="cruce de viastransitaba"><label class="custom-control-label"
                for="cruce de viastransitaba">Cruce De Vias</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="f.c.transitaba" id="f.c.transitaba"><label class="custom-control-label"
                for="f.c.transitaba">F.c.</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="curvatransitaba" id="curvatransitaba"><label class="custom-control-label"
                for="curvatransitaba">Curva</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="obratransitaba" id="obratransitaba"><label class="custom-control-label"
                for="obratransitaba">Obra</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="otrostransitaba" id="otrostransitaba"><label class="custom-control-label"
                for="otrostransitaba">Otros</label></div>
    </div>
</div>
<hr class="mt-3">
<h5>Accidente</h5>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="vuelcoaccidente" id="vuelcoaccidente"><label class="custom-control-label"
                for="vuelcoaccidente">Vuelco</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="despañamientoaccidente" id="despañamientoaccidente"><label class="custom-control-label"
                for="despañamientoaccidente">Despañamiento</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="inmersionaccidente" id="inmersionaccidente"><label class="custom-control-label"
                for="inmersionaccidente">Inmersion</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="explosionaccidente" id="explosionaccidente"><label class="custom-control-label"
                for="explosionaccidente">Explosion</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="incendioaccidente" id="incendioaccidente"><label class="custom-control-label"
                for="incendioaccidente">Incendio</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="otrosaccidente" id="otrosaccidente"><label class="custom-control-label"
                for="otrosaccidente">Otros</label></div>
    </div>
</div>
<hr class="mt-3">
<h5>Colisionó con</h5>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="peatoncolisiono" id="peatoncolisiono"><label class="custom-control-label"
                for="peatoncolisiono">Peaton</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="bicicletacolisiono" id="bicicletacolisiono"><label class="custom-control-label"
                for="bicicletacolisiono">Bicicleta</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="autocolisiono" id="autocolisiono"><label class="custom-control-label"
                for="autocolisiono">Auto</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="animalcolisiono" id="animalcolisiono"><label class="custom-control-label"
                for="animalcolisiono">Animal</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="pick upcolisiono" id="pick upcolisiono"><label class="custom-control-label"
                for="pick upcolisiono">Pick Up</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="puentecolisiono" id="puentecolisiono"><label class="custom-control-label"
                for="puentecolisiono">Puente</label></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="camioncolisiono" id="camioncolisiono"><label class="custom-control-label"
                for="camioncolisiono">Camion</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="edificiocolisiono" id="edificiocolisiono"><label class="custom-control-label"
                for="edificiocolisiono">Edificio</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="taxi o remiscolisiono" id="taxi o remiscolisiono"><label class="custom-control-label"
                for="taxi o remiscolisiono">Taxi O Remis</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="postecolisiono" id="postecolisiono"><label class="custom-control-label"
                for="postecolisiono">Poste</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="columnacolisiono" id="columnacolisiono"><label class="custom-control-label"
                for="columnacolisiono">Columna</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="motocicletacolisiono" id="motocicletacolisiono"><label class="custom-control-label"
                for="motocicletacolisiono">Motocicleta</label></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="transporte pasajerocolisiono" id="transporte pasajerocolisiono"><label
                class="custom-control-label" for="transporte pasajerocolisiono">Transporte Pasajero</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="otroscolisiono" id="otroscolisiono"><label class="custom-control-label"
                for="otroscolisiono">Otros</label></div>
    </div>
</div>
<hr class="mt-3">
<h5>Tiempo</h5>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="buenotiempo" id="buenotiempo"><label class="custom-control-label" for="buenotiempo">Bueno</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="lluviatiempo" id="lluviatiempo"><label class="custom-control-label"
                for="lluviatiempo">Lluvia</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="granizotiempo" id="granizotiempo"><label class="custom-control-label"
                for="granizotiempo">Granizo</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="nievetiempo" id="nievetiempo"><label class="custom-control-label" for="nievetiempo">Nieve</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="vientotiempo" id="vientotiempo"><label class="custom-control-label"
                for="vientotiempo">Viento</label></div>
    </div>
</div>
<hr class="mt-3">
<div class="row">
    <div class="col-md-6">
        <h5>Señalización</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="buenosenalizacion" id="buenosenalizacion"><label class="custom-control-label"
                        for="buenosenalizacion">Bueno</label></div>
            </div>
            <div class="col-md-4">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="regularsenalizacion" id="regularsenalizacion"><label class="custom-control-label"
                        for="regularsenalizacion">Regular</label></div>
            </div>
            <div class="col-md-4">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="malasenalizacion" id="malasenalizacion"><label class="custom-control-label"
                        for="malasenalizacion">Mala</label></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5>Semáforo</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="habiasemaforo" id="habiasemaforo"><label class="custom-control-label"
                        for="habiasemaforo">Habia</label></div>
            </div>
            <div class="col-md-6">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="funcinabasemaforo" id="funcinabasemaforo"><label class="custom-control-label"
                        for="funcinabasemaforo">Funcionaba</label></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h5>Balización</h5>
        <div class="row">
            <div class="col-md-12">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="balizacion" id="balizacion">
                    <label class="custom-control-label" for="balizacion"> </label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-3">
<h5>Visibilidad</h5>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="buenavisibilidad" id="buenavisibilidad"><label class="custom-control-label"
                for="buenavisibilidad">Buena</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="regularvisibilidad" id="regularvisibilidad"><label class="custom-control-label"
                for="regularvisibilidad">Regular</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="malavisibilidad" id="malavisibilidad"><label class="custom-control-label"
                for="malavisibilidad">Mala</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="nieblavisibilidad" id="nieblavisibilidad"><label class="custom-control-label"
                for="nieblavisibilidad">Niebla</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="polvovisibilidad" id="polvovisibilidad"><label class="custom-control-label"
                for="polvovisibilidad">Polvo</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="humovisibilidad" id="humovisibilidad"><label class="custom-control-label"
                for="humovisibilidad">Humo</label></div>
    </div>
</div>
<hr class="mt-3">
<h5>Luminosidad</h5>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="dialuminosidad" id="dialuminosidad"><label class="custom-control-label"
                for="dialuminosidad">Dia</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="amanecerluminosidad" id="amanecerluminosidad"><label class="custom-control-label"
                for="amanecerluminosidad">Amanecer</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="nocheluminosidad" id="nocheluminosidad"><label class="custom-control-label"
                for="nocheluminosidad">Noche</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="con luz artificialluminosidad" id="con luz artificialluminosidad"><label
                class="custom-control-label" for="con luz artificialluminosidad">Con Luz Artificial</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="sin luz artificialluminosidad" id="sin luz artificialluminosidad"><label
                class="custom-control-label" for="sin luz artificialluminosidad">Sin Luz Artificial</label></div>
    </div>
</div>
<hr class="mt-3">
<h5>Estado de la calzada</h5>
<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="buenoestadoCalzada" id="buenoestadoCalzada"><label class="custom-control-label"
                for="buenoestadoCalzada">Bueno</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="regularestadoCalzada" id="regularestadoCalzada"><label class="custom-control-label"
                for="regularestadoCalzada">Regular</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="malaestadoCalzada" id="malaestadoCalzada"><label class="custom-control-label"
                for="malaestadoCalzada">Mala</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="secoestadoCalzada" id="secoestadoCalzada"><label class="custom-control-label"
                for="secoestadoCalzada">Seco</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="mojadoestadoCalzada" id="mojadoestadoCalzada"><label class="custom-control-label"
                for="mojadoestadoCalzada">Mojado</label></div>
    </div>
    <div class="col-md-2">
        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                name="con hieloestadoCalzada" id="con hieloestadoCalzada"><label class="custom-control-label"
                for="con hieloestadoCalzada">Con Hielo</label></div>
    </div>
</div>
​