<% include ../partials/header %>
<% include ../partials/navegation %>

<div class="container mt-5">
    <form action="<%= urlBase %>/updateSinester" method="post" class="form-client">
        <div class="info-asegurado">

            <h4>Datos del asegurado</h4>
            <input type="hidden" id="codeSinister" value="<%= sinister._id %>">
            <div class="row">
                <div class="col-md-4">
                    <p><%= sinister.client.cuil %></p>
                    <p><%= sinister.client.lastname + ', '+ sinister.client.name %></p>
                </div>
                <div class="col-md-6">
                    <p><%= sinister.client.email %></p>
                    <p><%= sinister.client.phone %></p>
                </div>
                <div class="col-md-2">
                    <% if(sinister.client.city){ %>
                    <p>Datos cargados</p>
                    <% }else { %>
                    <button data-toggle="modal" class="btn btn-info modal-updateClient"
                        data-target="#modalClient">Cargar</button>
                    <% } %>
                </div>
    
            </div>
    
        </div>
        <hr>
        <!-- <div class="info-licencia mt-5">
        <h4>Licencias</h4>
        <div class="row">
            <div class="col-md-8">
                <% if(sinister.client.licence){ %>
                    <ul class="list-group">
                        <li class="list-group-item">Datos licencia</li>
                        <li class="list-group-item">Datos licencia</li>
                    </ul>
                    <% } else { %>
                    <p>No tiene licencia registrada.</p>
                    <% } %>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info btn-lg add-licence" data-toggle="modal"
                        data-target="#modalLicence">Agregar</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="info-vehiculo mt-5">
            <h4>Vehiculo</h4>
            <div class="row">
                <div class="col-md-8">
                    <% if(sinister.client.vehicule.length===0){ %>
                        <p>No tiene vehiculo registrado.</p>
                        <% }else{ %>
                        <ul class="list-group">
                            <li class="list-group-item">Datos vehiculo</li>
                    <li class="list-group-item">Datos vehiculo</li>
                </ul>
                <% } %>
            </div>
            <div class="col-md-4">
                <button class="btn btn-info btn-lg add-vehicule" data-toggle="modal"
                    data-target="#modalVehicule">Agregar</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="info-sinister mt-5">
        <h4>Información del siniestro</h4>
        <div class="lugar-siniestro">
            <div class="row">
                <div class="col-md-4">
                    <label for="provinceSinister">Provincia</label>
                    <select name="province" id="province" class="form-control"></select>
                </div>
                <div class="col-md-4">
                    <label for="departamentSinister">Departamento</label>
                    <select name="departament" id="departament" class="form-control"></select>
                </div>
                <div class="col-md-4">
                    <label for="citySinister">Localidad</label>
                    <select name="city" id="city" class="form-control"></select>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">
                    <label for="streat">Calle</label>
                    <input type="text" name="streat" id="streat" class="form-control" placeholder="Ingrese dirección">
                </div>
                <div class="col-md-3">
                    <label for="numberKm">Nro. o Km.</label>
                    <input type="number" name="numberKm" id="numberKm" class="form-control" placeholder="4561">
                </div>
                <div class="col-md-3">
                    <label for="cp">C.P.</label>
                    <input type="number" name="cp" id="cp" class="form-control" placeholder="3400">
                </div>
                <div class="col-md-3">
                    <label for="dateSinister">Fecha</label>
                    <input type="date" name="dateSinister" id="dateSinister" class="form-control">
                </div>
            </div>

        </div>
        <div class="detalle mt-5">
             <% include checkbox %> 
        </div>
    </div>-->
    <div class="mt-5 info-vehiculo">
        <h4>Detalle de las partes afectadas del vehículo</h4>
        <h5>Guardabarro</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero derechaGuardabarro" id="delantero derechaGuardabarro"><label
                        class="custom-control-label" for="delantero derechaGuardabarro">Delantero Derecha</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero izquierdaGuardabarro" id="delantero izquierdaGuardabarro"><label
                        class="custom-control-label" for="delantero izquierdaGuardabarro">Delantero
                        Izquierda</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero derechoGuardabarro" id="tracero derechoGuardabarro"><label
                        class="custom-control-label" for="tracero derechoGuardabarro">Tracero Derecho</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero izquierdoGuardabarro" id="tracero izquierdoGuardabarro"><label
                        class="custom-control-label" for="tracero izquierdoGuardabarro">Tracero Izquierdo</label>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <h5>Puerta</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero derechaPuerta" id="delantero derechaPuerta"><label class="custom-control-label"
                        for="delantero derechaPuerta">Delantero Derecha</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero izquierdaPuerta" id="delantero izquierdaPuerta"><label
                        class="custom-control-label" for="delantero izquierdaPuerta">Delantero Izquierda</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero derechoPuerta" id="tracero derechoPuerta"><label class="custom-control-label"
                        for="tracero derechoPuerta">Tracero Derecho</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero izquierdoPuerta" id="tracero izquierdoPuerta"><label class="custom-control-label"
                        for="tracero izquierdoPuerta">Tracero Izquierdo</label></div>
            </div>
        </div>
        <hr class="mt-3">
        <h5>Faros</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero derechaFaros" id="delantero derechaFaros"><label class="custom-control-label"
                        for="delantero derechaFaros">Delantero Derecha</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero izquierdaFaros" id="delantero izquierdaFaros"><label
                        class="custom-control-label" for="delantero izquierdaFaros">Delantero Izquierda</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero derechoFaros" id="tracero derechoFaros"><label class="custom-control-label"
                        for="tracero derechoFaros">Tracero Derecho</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero izquierdoFaros" id="tracero izquierdoFaros"><label class="custom-control-label"
                        for="tracero izquierdoFaros">Tracero Izquierdo</label></div>
            </div>
        </div>
        <hr class="mt-3">
        <h5>Ruedas</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero derechaRuedas" id="delantero derechaRuedas"><label class="custom-control-label"
                        for="delantero derechaRuedas">Delantero Derecha</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="delantero izquierdaRuedas" id="delantero izquierdaRuedas"><label
                        class="custom-control-label" for="delantero izquierdaRuedas">Delantero Izquierda</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero derechoRuedas" id="tracero derechoRuedas"><label class="custom-control-label"
                        for="tracero derechoRuedas">Tracero Derecho</label></div>
            </div>
            <div class="col-md-3">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                        name="tracero izquierdoRuedas" id="tracero izquierdoRuedas"><label class="custom-control-label"
                        for="tracero izquierdoRuedas">Tracero Izquierdo</label></div>
            </div>
        </div>
    </div>

    <hr class="mt-5">
    <button type="submit" class="btn btn-block btn-lg btn-info btn-submit-client">Guardar</button>
    </form>
</div>

<% include modalClient %>
<% include modalLicence %>
<% include modalVehicule %>

<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/bootstrap/js/bootstrap.min.js"></script>
<script>
var baseURL = '<%= urlBase %>',
    cuilClient = '<%= sinister.client.cuil %>'
</script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="<%= urlBase %>/static/js/perito/edit.js"></script>
<% include ../partials/footer %>
