<div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Datos del cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Datos del asegurado</h4>
                <form action="" class="form-client" method="post">
                    <input type="hidden" id="codeClient" value="<%= sinister.client._id %>">
                    <div class="row">
                        <div class="col-md-3">
                            <p><%= sinister.client.cuil %></p>
                        </div>
                        <div class="col-md-5">
                            <p><%= sinister.client.lastname + ', '+ sinister.client.name %></p>
                        </div>
                        <div class="col-md-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sexF" name="gender" class="custom-control-input"
                                    value="FEMENINO" checked>
                                <label class="custom-control-label" for="sexF">Femenino</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sexM" name="gender" value="MASCULINO"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="sexM">Masculino</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="province">Provincia</label>
                            <select name="province" id="province" class="form-control"></select>
                        </div>
                        <div class="col-md-4">
                            <label for="departament">Departamento</label>
                            <select name="departament" id="departament" class="form-control"></select>
                        </div>
                        <div class="col-md-4">
                            <label for="city">Localidad</label>
                            <select name="city" id="city" class="form-control"></select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="address">Dirección</label>
                            <input type="text" name="address" id="address" class="form-control"
                                placeholder="Ingrese dirección">
                        </div>
                        <div class="col-md-4">
                            <label for="status">Estado Civíl</label>
                            <select name="status" id="status" class="form-control">
                                <option value="">Seleccione un estado civíl</option>
                                <option value="SOLTERO">Soltero/a</option>
                                <option value="COMPROMETIDO">Comprometido/a</option>
                                <option value="CASADO">Casado/a</option>
                                <option value="SEPARADO">Separado/a</option>
                                <option value="DIVORCIADO">Divorciado/a</option>
                                <option value="VIUDO">Viudo/a</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="profession">Profesión</label>
                            <input type="text" name="profession" id="profession" placeholder="Ingrese la profesion."
                                class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save-client" data-dismiss="modal">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
