<div class="modal fade" id="modalVehicule" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Vehículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Datos del vehículo del asegurado</h4>
                <div class="row">
                        <div class="col-md-3">
                            <p><%= sinister.client.cuil %></p>
                        </div>
                        <div class="col-md-5">
                            <p><%= sinister.client.lastname + ', '+ sinister.client.name %></p>
                        </div>
                       
                    </div>
              
            </div>
           
        </div>
    </div>
</div>