<div class="modal fade" id="modalLicence" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Licencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Datos de la licencia del asegurado</h4>
                <div class="row">
                    <div class="col-md-3">
                        <p><%= sinister.client.cuil %></p>
                    </div>
                    <div class="col-md-5">
                        <p><%= sinister.client.lastname + ', '+ sinister.client.name %></p>
                    </div>
                </div>
                <div class="form-add-licence">
                    <input type="hidden" name="cuil" id="cuil" value="<%= sinister.client.cuil %>">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="clase">Clase</label>
                                <input type="text" name="clase" id="clase" class="form-control" placeholder="Clase">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nro">Número</label>
                                <input type="number" name="nro" id="nro" class="form-control" placeholder="Número">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fechaExpedicion">Fecha expedicion</label>
                                <input type="date" name="fechaExpedicion" id="fechaExpedicion" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fechaVencimiento">Fecha vencimiento</label>
                                <input type="date" name="fechaVencimiento" id="fechaVencimiento" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="otorgado">Otorgado</label>
                                <input type="text" name="otorgado" id="otorgado" class="form-control"
                                    placeholder="Otorgado">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-save-licence" data-dismiss="modal">Guardar
                        cambios</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
    
            </div>

        </div>
    </div>
</div>