<% include partials/header %>
<% include partials/navegation %>
<div class="container mt-5">

    <div class="form-poliza">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="poliza" class="col-md-2 col-form-label">Póliza</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" id="poliza" placeholder="Ingrese Nro. de póliza"
                            autofocus required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-info" id="polizaNotFound">Cliente no registrado, complete los campos siguientes.</div>
            </div>

        </div>
    </div>
    <% if (errClient) { %>
    <p class="text-danger"><%= errClient %></p>
    <% } %>
    <% if (errInsurance) { %>
    <p class="text-danger"><%= errInsurance %></p>
    <% } %>
    <% if (errSinister) { %>
    <p class="text-danger"><%= errSinister %></p>
    <% } %>
    <% if (success) { %>
    <p class="text-success"><%= success %></p>
    <% } %>

    <div class="data-client">
        <hr>
        <h4>Datos del asegurado</h4>
        <form action="<% urlBase %>/company/client" method="post" class="form-insurance">
            <input type="hidden" name="company" class="form-control" value="">
            <input type="hidden" name="poliza" class="form-control" value="">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cuil">C.U.I.L.</label>
                        <input type="number" name="cuil" id="cuil" class="form-control" placeholder="Ingrese C.U.I.L.">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lastname">Apellido</label>
                        <input type="text" name="lastname" id="lastname" class="form-control"
                            placeholder="Ingrese apellido">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Ingrese nombre">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nroSinister">Número de siniestro</label>
                        <input type="number" name="nroSinister" id="nroSinister" class="form-control" placeholder="Ingrese número de siniestro.">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese email">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input type="number" name="phone" id="phone" class="form-control"
                            placeholder="Ingrese teléfono">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-lg btn-block btn-submit">Cargar</button>
            <div class="text-danger" id="errores">Deben completarse todos los campos.</div>

        </form>

    </div>

</div>



<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/bootstrap/js/bootstrap.min.js"></script>
<script>
    var baseURL = '<%= urlBase %>',
        company = '<%= user.company %>'

</script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="<%= urlBase %>/static/js/aseguradora.js"></script>
<% include partials/footer %>