<% include partials/header %>

<% include partials/navegation %>
<div class="header-wrap">
    <br>
    <h1 class="text-center text-header text-title">C.A.V.S.A.S.</h1>
</div>
<br>
<div class="container mt-5">
    <div class="row">
        <div class="intro col-md-12" id="que-somos">
            <h2>¿Qué es C.A.V.S.A.S.?</h2>
            <p class="text-justify">Es una Empresa Gestora del Automotor Siniestrado. Significado de siglas. Algun texto de bajada, corto y
                sensillo. Como una especie de frase quizas.</p>
            <p class="text-justify">Quizas tambien a los compromisos que toma esta empresa, etc</p>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="intro col-md-6">
            <h3>Nuestra misión</h3>
            <p class="text-justify">Somos un equipo de profesionales en Criminalística y Criminología, Peritos en Accidentología Vial,
                Técnicos Mecánicos, Técnicos en Seguridad Vial, expertos en Informática, y expertos en Seguros, que
                pretendemos contribuir a la reducción de la siniestralidad vial y sus costos asociados como aporte al
                mercado asegurados y a la sociedad en general.</p>

        </div>
        <div class="intro col-md-6">
            <h3>Nuestra visión</h3>
            <p class="text-justify">Ser referente en gestionar soluciones para el mercado asegurador de toda la región, contribuyendo del
                mismo modo a la sociedad en general. Brindando calidad en el servicio, reducción de tiempo y coste para
                los clientes asegurados.</p>
        </div>
    </div>
</div>
<br>


<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/bootstrap/js/bootstrap.min.js"></script>
<script>
    var baseURL = '<%= urlBase %>'
</script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="<%= urlBase %>/static/js/inicio.js"></script>
<% include partials/footer %>