<% include partials/header %>
<% include partials/navegationWithout %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="card box border border-dark">
                <div class="card-title text-center img-user">
                    <img class="img-fluid mx-auto d-block rounded-circle" src="/static/img/icono_login.png" alt="">
                </div>
                <div class="card-body">
                    <form class="form-login" method="post" action="/login" autocomplete="off">
                        <div class="group-form ">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username"
                                class="rounded border border-dark form-control" placeholder="Ingrese Username" required
                                autofocus autocomplete="off" value="<%= username %>">
                            <% if(msgUser){ %>
                            <span class="text-danger">
                                <%= msgUser %>
                            </span>
                            <% } %>
                        </div>
                        <br>

                        <div class="group-form">
                            <label for="password">Contraseña</label>
                            <input type="password" id="password" name="password"
                                class="rounded border border-dark form-control" placeholder="Ingrese Contraseña"
                                required autocomplete="off">
                            <% if(msgPassword){ %>
                            <span class="text-danger">
                                <%= msgPassword %></span>
                            <% } %>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-block btn-info btn-login" type="submit">ACCEDER</button>
                    </form>
                </div>

            </div>
            <br>

        </div>

    </div>


</div>



<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/static/js/login.js"></script>
<% include partials/footer %>