<% include partials/header %>
<% include partials/navegation %>
<div class="container">
    <h3>datos del asegurado: <%= sinister.client.lastname + ', ' + sinister.client.name %></h3>
    <hr>
    <h5>Datos del sinestro</h5>
    <p>
        <b>Perito: </b>
        <% if(sinister.perito===null){ %>
        No asignado todavía
        <% } else { %>
           
            <%= sinister.perito.lastname+', '+sinister.perito.name    %>
            <%} %>
    </p>
    <p>
        <b>Tallerista: </b>
        <% if(sinister.tallerista===null){ %>
        No asignado todavía
        <% } else {%>
            <%= sinister.tallerista.lastname+', '+sinister.tallerista.name    %>
            <%} %>
    </p>
    <p>
        <b>Estado del siniestro: </b>
        <% if(sinister.sinesterState===null){ %>
        No asignado todavía
        <% } else {%>
            <%= sinister.sinesterState.descripcion    %>
            <%} %>
    </p>
</div>

<% include partials/footer %>