<% include partials/header %>
<% include partials/navegation %>

<div class="container mt-5">
    tallerista: <%= user.name %>   
    <hr>
    <h4>Listado de siniestros asignados</h4>
    <% if (sinisters.length===0) {%>
        <p>No tiene siniestros pendientes</p>
    <% } else { %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">C.U.I.L.</th>
                <th scope="col">Apellido y Nombre</th>
                <th scope="col">Perito</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% sinisters.forEach((s,i)=>{%>
            <tr>
                <td><%= (i+1) %></td>
                <td><%= s.client.cuil %></td>
                <td><%= s.client.lastname+", "+s.client.name %></td>
                <td>
                    <%= (s.perito!==null) ? s.perito.lastname+', '+ s.perito.name : '----' %>
                </td>
                <td>
                    <a href="<%= urlBase %>/proficient/<%= s._id %>" type="button" class="btn btn-info">Cargar datos</a>
                    <!-- <button class="btn btn-info" data-toggle="modal" onclick="loadModal('<%= s._id %>')"
                        data-target="#detailsModal" title="Cargar datos del siniestro.">Cargar datos</button> -->
                </td>
            </tr>
            <% }) %>

        </tbody>
    </table>
    <% }  %>

</div>

<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<!-- <script src="./static/js/admin.js"></script> -->
<script src="<%= urlBase %>/bootstrap/js/bootstrap.min.js"></script>
<script>
    var baseURL = '<%= urlBase %>'
</script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="./static/js/perito.js"></script>
<% include partials/footer %>