<% include partials/header %>

<% include partials/navegation %>
<div class="container mt-5">

    <div class="row">
        <div class="col-md-4">
            <form class="form-code" action="<%= urlBase %>/tracing" method="post">
                <label for="code">Código de seguimento</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="code" name="code"
                    placeholder="Ingrese código de seguimento" required>
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                <div class="codeEmpty">
                    <p class="text-danger">No puede estar vacio.</p>
                </div>
            </form>
        </div>
        <div class="col-md-8 generate-code">
            <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="ckb-code">
                <label class="form-check-label" for="ckb-code">Generar o consultar código</label>
            </div>
            <div class="generator-code">
                <form action="" method="post" class="form-generate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group company">
                                <label for="company">Compañia</label>   
                                <select class="custom-select" name="company" id="company"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="poliza">Nro. de póliza</label>
                                <input type="number" name="poliza" id="poliza" class="form-control"
                                    placeholder="Ingrese número de póliza" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cuil">C.U.I.L. / C.U.I.T</label>
                                <input type="number" name="cuil" id="cuil" class="form-control"
                                    placeholder="Ingrese número de C.U.I.L. o C.U.I.T" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="Ingrese email" required>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info btn-lg btn-block">Generar</button>
                </form>
                <div class="emptyField">
                    <p class="text-danger">Debe completar todos los campos.</p>
                </div>
                <div class="code-generated">
                    <p class="text-body"></p>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<script>
    var baseURL = '<%= urlBase %>'
</script>
<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="<%= urlBase %>/static/js/inicio.js"></script>
<% include partials/footer %>