<hr>
<div class="clearfix footer bg-dark text-white">
    <div class="row">
        <div class="col-md-6 mt-3">
            <p class="text-center">Contacto</p>
            <div class="col-md-6 mx-auto">

                <label>Email: <a href="mailto: cavsasConsultas@example.com">cavsasConsultas@example.com</a></label>
                <label>Telefono: <a href="tel:555-666-7777">379-5123456</a></label>
            </div>
        </div>
            <div class="col-md-6 mt-3">
                <p class="text-center">Ubicacion</p>
                <div class="col-md-6 mx-auto">
                    <label> Dirección: 
                        <a href="https://www.google.com.ar/maps/place/Mariano+Moreno+1568,+W3400ADE+Corrientes/@-27.4738047,-58.8337699,17z/data=!3m1!4b1!4m5!3m4!1s0x94456c9fa6ee99fb:0x988a7d022def91b2!8m2!3d-27.4738047!4d-58.8315812" target="_blank">
                    Mariano Moreno 1568. Primer piso, oficina 2. Corrientes - Capital</a></label>
                </div>
            </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-12">
            <p class="text-center text-black">Copyright ©2019 C.A.V.S.A.S.</p>
        </div>
    </div>
</div>
</body>

</html>