<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C.A.V.S.A.S</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="<%= urlBase %>/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="<%= urlBase %>/static/css/main.css">

</head>

<body>