<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-3" href="/"><img src="/static/img/logo.png" alt="logo-cavsas"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <% if(user){ %>
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <% if(user.role==='ADMIN'){ %>
            <li class="nav-item"><a class="nav-link" href="/dashboard/users">Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" href="/dashboard/companies">Compañias</a></li>
            <% } %>

            <% } %>


            <% if(user){ %>
            <li class="nav-item"><a class="btn btn-outline-primary" href="/logout">Salir</a></li>
            <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/tracing">Seguimiento</a></li>
            <li class="nav-item"><a class="btn btn-outline-primary " type="button" href="/login">Login</a></li>
            <% } %>
        </ul>

    </div>

</nav>