<% include ../partials/header %>
<% include ../partials/navegation %>

<div class="container mt-5">
    Bienvenido <%= user.lastname + ", " + user.name %> al panel de Administrador
    <hr>
    <h4>Listado de siniestros</h4>
    <% if (sinisters.length===0){%>
    <p>No se han registrados aun los siniestros.</p>
    <% }else{ %>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">C.U.I.L.</th>
                <th scope="col">Apellido y Nombre</th>
                <th scope="col">Perito</th>
                <th scope="col">Tallerista</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% sinisters.forEach((s,i)=>{%>
            <tr>
                <td><%= (i+1) %></td>
                <td><%= s.client.cuil %></td>
                <td><%= s.client.lastname+", "+s.client.name %></td>
                <td><%= (s.perito!==null) ? s.perito.lastname+', '+ s.perito.name : '----' %></td>
                <td>
                    <%= (s.tallerista!==null) ? s.tallerista.lastname+', '+ s.tallerista.name : '----' %>
                </td>
                <td>
                    <button class="btn btn-info" onclick="loadModal('<%= s._id %>')" data-toggle="modal"
                        data-target="#sinisterModal">Asignar</button>
                </td>
            </tr>
            <% }) %>

        </tbody>
    </table>
    <% } %>
</div>

<% include modalSinister %>

<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/bootstrap/js/bootstrap.min.js"></script>
<script>
    var baseURL = '<%= urlBase %>'
</script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="<%= urlBase %>/static/js/admin.js"></script>
<% include ../partials/footer %>