<% include ../partials/header %>
<% include ../partials/navegation %>

<div class="container mt-5">

    <div class="row">
        <div class="col-md-6">
            <h4>Empresas</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <% companies.forEach((c,i)=>{%>
                    <tr>
                        <td><%= (i+1) %></td>
                        <td><%= c.descripcion %></td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>

        </div>
        <div class="col-md-6">
            <h4>Nuevo empresa aseguradora</h4>
            <form action="" method="post" class="form-add-company">

                <div class="form-group">
                    <label for="descripcion">Nombre</label>
                    <input type="text" name="descripcion" id="descripcion" class="form-control"
                        placeholder="Nombre de la empresa aseguradora" required>
                    <div class="errDescripcion text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="cuit">C.U.I.T.</label>
                    <input type="number" name="cuit" id="cuit" class="form-control" placeholder="C.U.I.T. de la empresa"
                        required>
                    <div class="errCuit text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="razonSocial">Razón social</label>
                    <textarea rows="4" cols="50" name="razonSocial" id="razonSocial" class="form-control"
                        placeholder="Ingrese razón social. (Opcional)"></textarea>
                </div>
                <button type="button" class="btn btn-info btn-lg btn-block btn-submit">Agregar</button>
            </form>
        </div>
    </div>
</div>



<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/bootstrap/js/bootstrap.min.js"></script>
<script>
    var baseURL = '<%= urlBase %>',
        countCompanies = '<%= companies.length %>'

</script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="<%= urlBase %>/static/js/admin.js"></script>
<% include ../partials/footer %>