<div class="modal fade" id="sinisterModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Siniestro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="codeSinister" value="">
                <div class="row">
                    <div class="col-md-6">
                        <label for="perito">Perito</label><br>
                        <select name="pertiro" id="perito" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label for="tallerista">Tallerista</label><br>
                        <select name="tallerista" id="tallerista" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-assign" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>