<% include ../partials/header %>
<% include ../partials/navegation %>

<div class="container mt-5">

    <div class="row">
        <div class="col-md-8">
            <h4>Usuarios</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">C.U.I.L./C.U.I.T.</th>
                        <th scope="col">Apellido y Nombre</th>
                        <th scope="col">Nombre de usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((u,i)=>{%>
                    <tr>
                        <td><%= (i+1) %></td>
                        <td><%= u.cuil %></td>
                        <td><%= u.lastname+", "+u.name %></td>
                        <td><%= u.username %></td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>

        </div>
        <div class="col-md-4">
            <h4>Nuevo usuario</h4>
            <form action="" method="post" class="form-add-user">
                <div class="form-group">
                    <label for="role">Rol</label>
                    <select class="custom-select" name="role" id="role">
                        <option value="">Seleccione un rol</option>
                        <option value="ADMIN">Administrador</option>
                        <option value="SEGURO">Compañia de seguros</option>
                        <option value="PERITO">Profesional Perito</option>
                        <option value="TALLERISTA">Tallerista</option>
                    </select>
                    <div class="errRole text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group company">
                    <label for="company">Compañia</label>
                    <select class="custom-select" name="company" id="company"></select>
                    <div class="errCompany text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="cuil">C.U.I.L. / C.U.I.T.</label>
                    <input type="number" name="cuil" id="cuil" class="form-control" placeholder="C.U.I.L. / C.U.I.T."
                        required>
                    <div class="errCuil text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="lastname">Apellido</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellido"
                        required>
                    <div class="errLastname text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required>
                    <div class="errName text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                    <div class="errEmail text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input type="number" name="phone" id="phone" class="form-control" placeholder="Teléfono" required>
                    <div class="errPhone text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="username">Nick</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                        required>
                    <div class="errUsername text-danger">Campo obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña"
                        required>
                    <div class="errPassword text-danger">Campo obligatorio</div>
                </div>
                <button type="button" class="btn btn-info btn-lg btn-block btn-submit">Agregar</button>
            </form>
        </div>
    </div>
</div>



<script src="<%= urlBase %>/jquery/jquery.min.js"></script>
<script src="<%= urlBase %>/bootstrap/js/bootstrap.min.js"></script>
<script>
    var baseURL = '<%= urlBase %>'
</script>
<script src="<%= urlBase %>/static/js/commons.js"></script>
<script src="<%= urlBase %>/static/js/admin.js"></script>
<% include ../partials/footer %>